<html data-bs-theme="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const meetings = [
            {% for meeting in meetings %}
                {{ meeting|to_dict|tojson }},
            {% endfor %}
        ];

        function clickMeeting(i) {
            const listElements = document.getElementById('meetingsList').children;
            for (const listElement of listElements) {
                listElement.classList.remove('active');
            }
            listElements[i].classList.add('active');

            const meeting = meetings[i];
            document.getElementById('meetingDate').innerText = meeting['when'];
            document.getElementById('meetingPdfUrl').href = meeting['pdf_path'];
            document.getElementById('meetingGcalLink').href = meeting['gcal_link'];
            populateTable('publicHearingProjects', meeting.projects.filter(project => project['is_public_hearing']));
            populateTable('votedOnProjects', meeting.projects.filter(project => !project['is_public_hearing']));
        }

        function td(text, width=null) {
            const td = document.createElement('td');
            td.innerText = text;
            td.style.width = width;
            return td;
        }

        function populateTable(tableId, projects) {
            const table = document.getElementById(tableId);
            if (projects.length > 0) {
                table.replaceChildren(...projects.map(project => {
                    const tr = document.createElement('tr');
                    tr.replaceChildren(
                        td(project['description'], '50%'),
                        td(project['location']),
                        td(project['councilmember']),
                    );
                    return tr;
                }));
            } else {
                const cell = td('None found');
                cell.setAttribute('colspan', '3');
                const tr = document.createElement('tr');
                tr.appendChild(cell);
                table.replaceChildren(tr);
            }
        }

        document.addEventListener('DOMContentLoaded', () => clickMeeting(0), false);
    </script>

    <style>
        .divider {
            height: 100vh;
            width: 1.5rem;
            background-color: rgba(0, 0, 0, .1);
            box-shadow: inset 0 .125em .5em rgba(0, 0, 0, .1);
        }
        .iframe-container {
            width: fit-content;
        }
        iframe {
            height: 540px;
            width: 580px;
        }
    </style>

    <div class="d-flex h-100">

        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary">
            <div class="fs-5 fw-semibold p-3">NYC Planning Commission Meetings</div>
            <a class="btn btn-outline-info mb-3 mx-3" data-bs-toggle="modal" href="#signupModal">
                <i class="bi-bell"></i>
                Get notified about upcoming meetings
            </a>
            <div id="meetingsList" class="list-group list-group-flush overflow-auto">
                {% for meeting in meetings %}
                <a href="#" class="list-group-item py-3 lh-sm" onclick="clickMeeting({{ loop.index - 1 }})">
                    <div class="d-flex">
                        <strong class="mb-1">{{ meeting.when.strftime('%B %-d %Y') }}</strong>
                        {% if meeting|is_upcoming %}
                        <small class="ms-auto text-warning">Upcoming</small>
                        {% else %}
                        <small class="ms-auto text-secondary">Past</small>
                        {% endif %}
                    </div>
                    <div class="col-10 mb-1 small">{{ meeting.projects|length }} projects</div>                  
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="divider"></div>

        <div class="overflow-auto p-3 w-100">
            <h2 id="meetingDate"></h2>
            <div class="lead mb-2">City Planning Commission Hearing Room, Lower Concourse - 120 Broadway, New York, NY</div>
            <div class="d-flex flex-column">
                <a id="meetingPdfUrl" target="_blank" class="text-decoration-none">
                    <i class="bi-file-earmark-pdf"></i>
                    View official agenda PDF
                </a>
                <a id="meetingGcalLink" target="_blank" class="text-decoration-none">
                    <i class="bi-calendar-event"></i>
                    Add this meeting to your Google Calendar
                </a>
            </div>
            <div class="small text-muted pt-2">Click on the headers below to see the projects reviewed at this meeting.</div>
            <div class="accordion pt-3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            Projects that will have public hearings
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <th scope="col">Name and description</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Councilmember</th>
                                </thead>
                                <tbody id="publicHearingProjects"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            Projects that will be voted on
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <th scope="col">Name and description</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Councilmember</th>
                                </thead>
                                <tbody id="votedOnProjects"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="signupModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content iframe-container">
                <div class="modal-header">
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <iframe src="https://cdn.forms-content.sg-form.com/65250b7a-20fe-11ee-a075-3ee1878c20fd"></iframe>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</html>
